# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# github
/github

# misc
CODE_OF_CONDUCT.md
CONTRIBUTING.md
README.md
SECURITY.md
LICENSE
npm-debug.log*
yarn-debug.log*
yarn-error.log*
